header.page-header
	nav.page-header__nav
		.page-header__nav-wrapper
			a.page-header__logo(href="index.html")
			button.page-header__btn(type="button")
			ul.page-header__menu
				li.page-header__menu-item 
					a.page-header__menu-link(href="index.html") Главная 
				li.page-header__menu-item 
					a.page-header__menu-link.page-header__menu-link_active(href="#") Фотографии
				li.page-header__menu-item 
					a.page-header__menu-link(href="challenge.html") Конкурс
				li.page-header__menu-item 
					a.page-header__menu-link(href="#") Контакты
	h1.page-header__header Фотографии #[br] пользователей

	//- .page-header__download-wrapper
	//- 	section.download
	//- 		.download__wrapper
	//- 			h1.download__header Взгляните на жизнь иначе!
	//- 			a.download__btn(href="#") Скачать приложение
	//- 			.download__logo-wrapper
	//- 				.download__logo.download__apple-logo
	//- 					a.download__logo-link(href="#")
	//- 				.download__logo.download__android-logo
	//- 					a.download__logo-link(href="#")
	//- 				.download__logo.download__ms-logo
	//- 					a.download__logo-link(href="#")
	//- 			p.download__avaliable-txt Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8