footer.page-footer
	.page-footer__wrapper
		a.page-footer__logo(href="index.html")
		.page-footer__social-wrapper
			a.page-footer__social-link(href="#")
				i.icon-twitter
			a.page-footer__social-link(href="#")
				i.icon-facebook
			a.page-footer__social-link(href="#")
				i.icon-googleplay
		a.page-footer__developer-link(href="https://github.com/KirKaz12" target="_blank") Разработано #[i.icon-github]
			