section.photos
	h2.photos__header Взгляните на фотографии, которые выкладывают пользователи! Видите, как не хватает ваших?
	figure.photos__panorama
		.photos__panorama-img
		span.photos__panorama-of-day Панорама дня
		figcaption.photos__panorama-caption
			.photos__panorama-title
				span.photos__poster-name Анна #[span.photos__post-time (5 минут назад)]
				a.photos__post-like(href="#") нравится: #[span.photos__likes-counter 215]
			p.photos__post-txt Прыгать или нет? Напишите в коментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!
	ul.photos__photos-list
		li.photos__item
			figure.photos__figure
				img.photos__img(src="../../img/photos/car.jpg", alt="Машина")
				figcaption.photos__caption
					span.photos__poster-name Левон #[span.photos__post-time (5 часов назад)] 
					p.photos__post-txt Вчера он на луну летал, сегодня в руки к нам попал.
					a.photos__post-like(href="#") нравится: #[span.photos__likes-counter 356] 
		li.photos__item
			figure.photos__figure
				img.photos__img(src="../../img/photos/drums.jpg", alt="Барабаны")
				figcaption.photos__caption
					span.photos__poster-name Антон #[span.photos__post-time (12 часов назад)] 
					p.photos__post-txt Соседи будут рады!
					a.photos__post-like(href="#") нравится: #[span.photos__likes-counter 666] 
		li.photos__item
			figure.photos__figure
				img.photos__img(src="../../img/photos/sky.jpg", alt="Небо")
				figcaption.photos__caption
					span.photos__poster-name Борис #[span.photos__post-time (20 часов назад)] 
					p.photos__post-txt Здесь могла быть ваша цитата о высоком и вечном.
					a.photos__post-like(href="#") нравится: #[span.photos__likes-counter 215] 
		li.photos__item
			figure.photos__figure
				img.photos__img(src="../../img/photos/kuban.jpg", alt="Кубань")
				figcaption.photos__caption
					span.photos__poster-name Сергей #[span.photos__post-time (25 часов назад)] 
					p.photos__post-txt Самая кубанская в мире!
					a.photos__post-like(href="#") нравится: #[span.photos__likes-counter 4] 
		li.photos__item
			figure.photos__figure
				img.photos__img(src="../../img/photos/mountains.jpg", alt="Горы")
				figcaption.photos__caption
					span.photos__poster-name Максим #[span.photos__post-time (40 часов назад)] 
					p.photos__post-txt Где снег-то?
					a.photos__post-like(href="#") нравится: #[span.photos__likes-counter 150] 
		li.photos__item
			figure.photos__figure
				img.photos__img(src="../../img/photos/fly.jpg", alt="Полет")
				figcaption.photos__caption
					span.photos__poster-name Надежда #[span.photos__post-time (45 часов назад)] 
					p.photos__post-txt Всем GM и взаимные лайки!
					a.photos__post-like(href="#") нравится: #[span.photos__likes-counter 2560]
	section.photos__upload
		h2.photos__upload-header

