<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="css/style.css")
		title Photos
	body.photos-body
		include photos/page-header
		main.photos-main
			include photos/photos
		include photos/page-footer
		script(src="libs/jquery-2.2.1.min.js")
		script(src="libs/slick.min.js")
		script(src="js/common.js")
	