section.contacts
	.contacts__wrapper
		.contacts__header Остались вопросы?#[br] Свяжитесь с нами!
		.contacts__info-wrapper
			.contacts__tel
				span.contacts__tel-title Звоните: #[br]
				a.contacts__tel-link(href="#") +7 (812) 555-66-66
			.contacts__mail
				span.contacts__mail-title Пишите: #[br]
				a.contacts__mail-link(href="#") mail@htmlacademy.ru
			.contacts__adress
				span.contacts__adress-title Приезжайте в гости: #[br]
				a.contacts__adress-link(href="#") 
					span ул. Большая #[br] 
					span Конюшенная, 19/8
			