section.effect
	.effect__wrapper
		figure.effect__figure
			picture
				source(srcset="none" media="(max-width: 699px)")
				source(srcset="img/timer.png" media="(min-width: 700px)")
				img.effect__timer-img(src="img/timer.png", alt="24 часа")
			figcaption.effect__caption
				h3.effect__title Эффект на 24 часа!
				p.effect__txt Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
				a.effect__link(href="#") Узнать больше об исследовании