section.features
	h2.features__header Устали от серости мегаполиса? #[br.h1] #[br.h2] Нам есть, что вам #[br.h3] предложить!
	.features__wrapper
		ul.features__list
			li.features__item
				figure.features__figure-iphone
					picture
						source(srcset="img/iphone-grey.png" media="(min-width: 1050px)")
						source(srcset="" media="(max-width: 699px)")
						img.features__iphone-img(src="img/iphone-grey.png", alt="Поднимает настроение")
					figcaption.features__iphone-caption
						h3.features__iphone-title Поднимает настроение
						p.features__iphone-txt Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
			li.features__item
				figure.features__figure-iphone
					picture
						source(srcset="img/iphone-red.png" media="(min-width: 1050px)")
						source(srcset="" media="(max-width: 699px)")
						img.features__iphone-img(src="img/iphone-red.png", alt="Меняет мир")
					figcaption.features__iphone-caption
						h3.features__iphone-title Меняет мир вокруг
						p.features__iphone-txt Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
			li.features__item 		
				figure.features__figure-iphone
					picture
						source(srcset="img/iphone-smile.png" media="(min-width: 1050px)")
						source(srcset="img/iphone-tablet.png" media="(min-width: 700px)")
						source(srcset="img/iphone-smile-mob.png" media="(max-width: 699px)")
						img.features__iphone-img(src="img/iphone-smile.png", alt="Заводит друзей")
					figcaption.features__iphone-caption
						h3.features__iphone-title Заводит новых друзей
						p.features__iphone-txt Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
		