section.features
	h2.features__header Устали от серости мегаполиса? #[br] #[br] Нам есть, что вам предложить!
	.features__wrapper
		ul.features__list
			li.features__item
				figure.features__figure-iphone
					picture
						source(srcset="" media="(max-width: 699px)")
						img.features__iphone-img(src="img/iphone-grey.png", alt="Поднимает настроение")
					figcaption.features__iphone-caption
						h3.features__iphone-title Поднимает настроение
						p.features__iphone-txt Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
			li.features__item
				figure.features__figure-iphone
					picture
						source(srcset="" media="(max-width: 699px)")
						img.features__iphone-img(src="img/iphone-red.png", alt="Меняет мир")
					figcaption.features__iphone-caption
						h3.features__iphone-title Меняет мир вокруг
						p.features__iphone-txt Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
			li.features__item 		
				figure.features__figure-iphone
					picture
						source(srcset="img/iphone-tablet.png" media="(min-width: 700px)")
						source(srcset="img/iphone-smile-mob.png" media="(max-width: 699px)")
						img.features__iphone-img(src="img/iphone-smile.png", alt="Заводит друзей")
					figcaption.features__iphone-caption
						h3.features__iphone-title Заводит новых друзей
						p.features__iphone-txt Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
		figure.features__figure-effect
			picture
				source(srcset="")
				img.features__effect-img(src="img/timer.png", alt="24 часа")
			figcaption.features__effect-caption
				h3.features__effect-title Эффект на 24 часа!
				p.features__effect-txt Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
				a.features__effect-link(href="#") Узнать больше об исследовании