section.feedback
	.feedback__wrapper
		ul.feedback__list
			li.feedback__item
				figure.feedback__figure
					.feedback__quote-img
					figcaption.feedback__caption
						p.feedback__txt Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии! 
						span.feedback__title Николай Петров
						span.feedback__sub-title 25 лет, водитель трамвая
			li.feedback__item
				figure.feedback__figure
					.feedback__quote-img
					figcaption.feedback__caption
						p.feedback__txt Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии! 
						span.feedback__title Николай Петров
						span.feedback__sub-title 25 лет, водитель трамвая
			li.feedback__item
				figure.feedback__figure
					.feedback__quote-img
					figcaption.feedback__caption
						p.feedback__txt Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии! 
						span.feedback__title Николай Петров
						span.feedback__sub-title 25 лет, водитель трамвая