section.prices
	.prices__wrapper
		table.prices__table
			tbody
				tr.header
					td.empty
					td #[span.name база] #[span.price 1,99 USD]  
					td #[span.name стандарт]  #[span.price 3,99 USD] 
					td #[span.name анлим] #[span.price 9,99 USD]
				tr.pink-filter
					td Розовый фильтр
					td #[span.hidden Розовый фильтр] #[i.icon-ok]
					td #[span.hidden Розовый фильтр] #[i.icon-ok]
					td #[span.hidden Розовый фильтр] #[i.icon-ok]
				tr.smiles
					td Смайлики
					td #[span.hidden Смайлики] #[i.icon-cancel]
					td #[span.hidden Смайлики] #[i.icon-ok]
					td #[span.hidden Смайлики] #[i.icon-ok]
				tr.comments
					td Комментарии
					td #[span.hidden Комментарии] #[i.icon-cancel]
					td #[span.hidden Комментарии] #[i.icon-cancel]
					td #[span.hidden Комментарии] #[i.icon-ok]
